<table>
    <tr>
        <th>Description</th>
        <th></th>
    </tr>
        {% if list_smartqands %}
        {% for s in list_smartqands %}
            <tr>
                {% if id_sheet %}
                    <td onclick="update_content('smartqands/add_to={{ id_sheet }}/{{ s.id }}/')" style='color:blue; text-decoration:underline; cursor:pointer;'>{{ s.des }}</td>
                {% else %}
                    <td onclick="update_content('smartqands/{{ s.id }}')" style='color:blue; text-decoration:underline; cursor:pointer;'>{{ s.description }}</td>
                    <td><button type='button' onclick='update_content("smartqands/{{ s.id }}/edit0")'>Edit</button></td>
                {% endif %}
            </tr>
        {% endfor %}
    {% endif %}
</table>
