{% load smartqands_extras %}
{% if smartqands %}
    <div>
        <div style='float:left;'>
            <button type='button' onclick="update_content('smartqands/{{ smartqands.id }}/')">Question</button>
            <button type='button' onclick="update_content('smartqands/{{ smartqands.id }}/comment/', '#smartqands_content')">Talk</button>
        </div>
        <div style='float:right;'>
            <button type='button' onclick="update_content('smartqands/{{ smartqands.id }}/')">Read</button>
            <button type='button' onclick="update_content('smartqands/{{ smartqands.id }}/edit1', '#smartqands_content')">Edit</button>
            <button type='button' onclick="update_content('smartqands/{{ smartqands.id }}/history', '#smartqands_content')">History</button>
        </div>
    </div>
    <div id='smartqands_content' style='clear:both;'>
        <script type='text/javascript' src='http://aleph.sagemath.org/static/jquery.min.js'></script>
        <script>
            $(function(){
                sagecell.makeSagecell({inputLocation: '#mycell',
                    codeLocation: '#code',
                    autoeval: true,
                    hide: ['editor', 'editorToggle', 'evalButton', 'permalinks', 'done', 'sessionFiles', 'sessionFilesTitle', 'files', 'computationID', 'messages', 'sessionTitle','sageMode']});
            });
        </script>
        <script type='text/x-sage' id='code'>
{{ script.interact|safe }}
        </script>
        <div id='mycell' style='clear:right;'></div>
    </div>
{% else %}
    <h1>Error.</h1>
{% endif %}
