<h3>Donate</h3>
<p>At the moment Smart Teacher are hosting in free account at <a href='https://www.alwaysdata.com/'>https://www.alwaysdata.com/</a>. To improve Smart Teacher we need donations to technology (servers, bandwidth, maintenance, development) and people (fewer employees).</p>
<p>We would like to be as Wikipedia, summary in Jimmy Wales words below:
    <blockquote>
        <p>Google might have close to a million servers. Yahoo has something like 13,000 staff. We have 400 servers and 95 staff.</p>
        <p>Wikipedia is the #5 site on the web and serves 454 million different people every month – with billions of page views.</p>
        <p>Commerce is fine. Advertising is not evil. But it doesn't belong here. Not in Wikipedia.</p>
        <p>Wikipedia is something special. It is like a library or a public park. It is like a temple for the mind. It is a place we can all go to think, to learn, to share our knowledge with others.</p>
        <p>When I founded Wikipedia, I could have made it into a for-profit company with advertising banners, but I decided to do something different. We’ve worked hard over the years to keep it lean and tight. We fulfill our mission, and leave waste to others.[<a href='http://wikimediafoundation.org/w/index.php?title=WMFJA085/en&utm_source=donate&utm_medium=sidebar&utm_campaign=20101204SB002&language=en&uselang=en&country=BR&referrer=http%3A%2F%2Fen.wikipedia.org%2Fwiki%2FMain_Page'>Wikimedia Foundation</a></p>
    </blockquote>
</p>
If you want to donate please get in touch with Raniere Silva by e-mail: <a href='mailto:r.gaia.cs@gmail.com'>r.gaia.cs@gmail.com</a>.
