</html>
    <head>
        <script type='text/javascript' src='http://aleph.sagemath.org/static/jquery.min.js'></script>
        <script type='text/javascript' src='http://aleph.sagemath.org/embedded_sagecell.js'></script>
        <script type='text/javascript'>
            var history = new Array();
            var first_back = 1;

            function update_content(go_to_url){
                history.push(go_to_url);
                first_back = 1;
                $.ajax({
                    url: go_to_url,
                    dataType: 'html',
                    success: function(data){
                        $("#content").html(data);
                    }
                });
            }

            function back_content(){
                if(first_back){
                    first_back = 0;
                    history.pop();
                }
                if(history.length != 0){
                    $.ajax({
                        url: history.pop(),
                        dataType: 'html',
                        success: function(data){
                            $("#content").html(data);
                        }
                    });
                }
                else{
                    $('#content').html('');
                }
            }
        </script>
    </head>
    <body>
        {% if user %}
        <div style='width:100%; text-align:right;'>
            You are login as {{ user }}. <button type='button' onclick="window.location.href = 'logout'">Logout</button>
        </div>
        <div id='top_bar'>
            <button type='button' onclick="window.location.href=''">Home</button>
            <button type='button' onclick="update_content('sheet')">Show Sheet</button>
            <button type='button' onclick="update_content('sheet/new')">Create Sheet</button>
            <button type='button' onclick="update_content('smartqands')">Show Question</button>
            <button type='button' onclick="update_content('smartqands/new')">Create Question</button>
            <button type='button' onclick="back_content()" style='float:right;'>Back</button>
        </div>
        <div id='content'>
        </div>
        {% endif %}
    </body>
</html>
