<h3>Main page</h3>
<p>Welcome to Smart Teacher, a free online data base of dynamic question and answers for Elementary, Middle and High School.</p>
<p>At the moment, Smart Teacher is more a proof of concept and you can follow the development in this page and at <a href='https://github.com/r-gaia-cs/smart_teacher'>github</a>.</p>
<p>You can see a <a href='/trial'>quickly example</a> with SAT questions and are invited to explore Smart Teacher.</p>
<div style='border-style:solid; border-width:5px; border-color:red; padding:5px;'>
    <p>Smart Teacher is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 2 of the License, or (at your option) any later version.</p>
    <p>Smart Teacher is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.</p>
</div>
